.cards {
  width: 100%;
}

.cardItems {
  width: max-content;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0px auto;
  gap: 0;
}

@media only screen and (max-width: 840px) {
  .cardItems {
    grid-template-columns: auto;
  }
}

@media only screen and (min-width: 841px) and (max-width: 1000px) {
  .cardItems {
    grid-template-columns: auto auto;
  }
}
