@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.navLinks {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navLinkItem {
  padding-right: 2rem;
  cursor: pointer;
}
.navLinkText {
  color: black;
  text-decoration: none;
  font-weight: regular;
  font-size: 15px;
  color: #2d3b49;
  opacity: 1;
  margin: 0 5px;
}

.navLinkTextActive{
  font-weight: 600;
  border-bottom: 2px solid black;
  padding: 0 2px;
}




