@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  width: max-content;
  margin: 0 auto;

  font-family: "Montserrat", sans-serif;
}
.heading {
  color: rebeccapurple;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
  text-decoration: none;
  font-weight: regular;
  font-size: 20px;
  color: #2d3b49;
  opacity: 1;
  margin: 0 5px;
}

.navLinkTextActive{
  font-weight: 600;
  border-bottom: 2px solid black;
  padding: 0 2px;
}

.cards{
  
  width: 100%;
  
}

.cardItems{
  
  
  
  
  width: max-content;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0px auto;
  gap: 0;
  
  
}

@media only screen and  (max-width: 600px){
  .cardItems{
    grid-template-columns: auto;
  }
}

@media only screen and  (min-width: 840px){
  .cardItems{
    grid-template-columns: auto auto;
  }
}

