@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
a {
  scroll-behavior: smooth;
}
a:visited {
  color: inherit;
}
body {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: auto;
  color: #2d3b49;
  letter-spacing: 1.5;
  font-size: 12px;
  font-weight: 500;
}

h2 {
  font-weight: 600;
}

.btn {
  border: none;
  background-color: #2d3b49;
  color: #fff;
  padding: 10px 36px;
  border-radius: 20px;
  font-size: 13px;
  margin-top: 50px;
}

section {
  width: 80%;
  height: 100%;
  padding: 8vh 10vw 0vh;
}

section,
.searchDivWrap {
  padding-bottom: 0;
  padding-right: 0;
  margin-right: 0;
}

.bgImageDiv {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: auto;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  width: 100%;
  height: 100%;
}

.commonHolder {
  padding: 8vh 3vw 0vh 8vw;
  width: 82.5vw;
  max-width: 100vw;
  min-height: 90vh;
  /* background-color: greenyellow; */
  /* height: 100%; */
  /* min-height: 50vh; */
  /* max-height: auto; */
}

.floatRightOptions {
  float: right;
  font-size: 12px;
  line-height: 3;
}

a {
  text-decoration: none;
}

.floatRightOptions a {
  color: #2d3b49;
  margin-left: 20px;
  padding-bottom: 5px;
  font-weight: 400;
}

.floatRightOptions a:visited,
.floatRightOptions a:hover,
.floatRightOptions a:active,
.active {
  font-weight: 700 !important;
  border-bottom: 1.7px solid #2d3b49;
}

.introBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #2d3b49;
  height: 60vh;
  width: 35vw;
}

.commonHolder .introBox p {
  font-size: 12px;
  font-weight: 400;
  margin: 30px auto;
  line-height: 2;
}

.commonHolder .introBox .bookBtn {
  border: none;
  border-radius: 20px;
  padding: 10px 50px;
  background-color: #2d3b49;
  max-width: max-content;
  margin-top: 40px;
}

.commonHolder .introBox .bookBtn a {
  color: rgba(255, 255, 255, 0.95);
  font-size: 13px;
}

.knowMore {
  width: 100%;
  position: absolute;
  bottom: 0vh;
  padding: 5vh 0vh;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  font-weight: bold;
  color: #2d3b49 !important;
}

section .searchDivWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* features */

.featureDiv {
  width: 70%;
  /* margin-left: auto; */
  /* height: 100vh; */
  margin-left: 5%;
  /* border-top: 1.5px solid #2D3B49; */
  /* border-bottom: 1.5px solid #2D3B49; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.featureDiv .featureBox {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  color: #2d3b49;
  font-weight: bold;
}

.featureDiv .featureBox::before {
  content: "";
  position: relative;
  top: 3%;
  left: 5%;
  width: 100px;
  height: 70px;
  border-radius: 50%;
  z-index: -1;
  background-color: #f1f2f4;
}

.featureDiv .featureBox .featureTitle {
  width: 50%;
  font-size: 22px;
  margin-right: 20px;
}

.featureDiv .featureBox .featurePara {
  width: 50%;
  font-size: 12px;
  font-weight: 500;
  padding: 20px;
  padding-top: 50px;
  line-height: 2;
}

.featureLogo {
  width: 50px;
  height: 50px;
  position: relative;
  top: 0%;
  left: -15%;
  overflow: hidden;
}

.featureLogo img {
  position: relative;
  width: 100%;
  height: 100%;
}

.featureDiv div .bookBtn a {
  color: #f1f2f4;
}

.featureDiv div .bookBtn {
  border: none;
  border-radius: 20px;
  padding: 10px 50px;
  background-color: #2d3b49;
  max-width: max-content;
  margin-top: 50px;
  margin-bottom: 80px;
  margin-left: -24vw;
}

.hrDiv {
  width: 70%;
  height: 1.5px;
  opacity: 0.7;
  background-color: #2d3b49;
}

/* package div styling */
.packageDivWrap {
  width: 100vw;
  background-color: #f1f2f4;
  margin-top: 100px;
}

.packageDiv {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  line-height: 2;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  color: #2d3b49;
}

.packageDiv .packageTitle {
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 20px;
  line-height: 2;
}

.packageDiv .packageBox,
.packageDiv .packageLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  font-weight: 600;
  margin: 20px 30px;
}

.packageDiv .packageBox .packageLogo {
  margin: 30px 20px;
  width: 150px;
  height: 150px;
  line-height: 3.5;
}

.packageDiv .packageBox {
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

/* service div styling */

.serviceDiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.8;
  color: #2d3b49;
  padding-top: 100px;
  margin-top: 50px;
}

.serviceDiv .circleImage {
  margin-bottom: 50px;
}

.serviceDiv .row {
  margin-top: 50px;
  /* border-top: 1.5px solid #2D3B49; */
}

.serviceDiv .row,
.serviceDiv .col {
  width: 70%;
  display: flex;
  justify-content: start;
  align-items: start;
  font-size: 12px;
}

.serviceDiv .col {
  width: 50%;
  flex-direction: column;
  /* padding: 50px 10px 0px; */
}

.serviceDiv .row .col:nth-of-type(2) {
  padding-top: 0;
  margin-top: 0;
}

/* footer div styling */
.blueDiv {
  width: 100vw;
  background-color: #2d3b49;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blueDiv .contactBox {
  border-top: 2px solid #f1f2f4;
  border-bottom: 2px solid #f1f2f4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  width: 50%;
  padding: 80px 50px;
  margin: 50px 50px 0px;
  text-align: center;
  line-height: 2;
  font-weight: bold;
}

.contactBox form div,
.contactBox form div input {
  /* color: #f1f2f4; */
  background: transparent;
  padding: 7px;
  border: none;
  width: 100%;
}

.contactBox form div input {
  border: 1px solid #f1f2f4;
  border-radius: 22px;
  width: 50%;
  padding-left: 30px;
  color: #f1f2f4;
  margin: 10px 0px;
  /* background-color: #122635; */
}

.contactBox form div button {
  border: none;
  background-color: #f1f2f4;
  padding: 9px 40px;
  color: #2d3b49;
  font-weight: bold;
  font-size: 12px;
  border-radius: 18px;
  position: relative;
  z-index: 2;
  transform: translateX(-30%);
}

/* footerbox styling */

.footerBox {
  width: 80%;
  min-width: 50vh;
  margin: 0;
  padding: 0vh 10vw 5vh;
}

.footerRow div {
  width: 100%;
  display: flex;
}

.footerRow div .left,
.footerRow div .right {
  width: 50%;
}

.right img {
  margin-left: auto;
  margin-top: 20px;
  margin-right: 20px;
}

.leftCol {
  margin-left: 20px;
  font-size: 11px;
  font-weight: 300;
  color: #f1f2f4;
  flex-direction: column;
  line-height: 1.8;
}

.rightRow img {
  margin-top: 50px;
}
section .searchDivWrap .serviceDiv .row,
section .searchDivWrap .featureDiv .featureBox {
  padding: 30px 10px;
  margin-bottom: 20px;
}
/* ------------------------------------------------------------- */
/*              RESPONSIVE BEHAVIOUR STYLING                     */
/* ------------------------------------------------------------- */

@media (min-width: 901px) and (max-width: 1095px) {
  section .searchDivWrap .categoryBoxWrap .categoryBox {
    width: 40%;
  }
}

@media (min-width: 100px) and (max-width: 900px) {
  
  .bgImageDiv{
    width: fit-content;
    height: 100%;
    overflow: hidden;
  }
  .bgImage {
    width: 100%;
    height: 100%;
  }

  .introBox p,
  .introBox h2,
  .introBox button {
    width: 70vw;
    font-size: 14px;
  }

  .commonHolder {
    /* min-height: 100vh; */
    height: fit-content;
    width: 100%;
    margin-right: 0;
    position: relative;
    justify-content: start;
  }

  .knowMore {
    width: 100%;
    margin-bottom: 0;
    padding: 30px 0;
    transform: translateY(-2vh);
    color: #2d3b49;
  }

  .floatRightOptions {
    display: none;
  }
  section,
  section .searchDivWrap {
    padding-bottom: 0;
  }

  .floatRightOptions {
    display: none;
  }

  section .packageDivWrap {
    align-items: flex-start;
  }

  section .searchDivWrap .searchDiv {
    width: 100%;
  }

  section .packageDivWrap .packageDiv {
    /* padding-left: 0; */
    /* margin-left: 0; */
    flex-wrap: wrap;
    /* align-items: flex-start; */
  }

  section .searchDivWrap .packageDivWrap .packageDiv .packageBox {
    width: 100%;
  }

  section .packageDivWrap .packageDiv .packageLogo {
    padding: 0;
    margin: 0;
  }

  section .packageDivWrap .packageDiv .packageLogo img {
    width: 80px;
    height: 80px;
  }

  section .searchDivWrap .packageDivWrap .packageDiv,
  section .searchDivWrap .blueDiv,
  section .searchDivWrap .blueDiv .contactBox {
    width: 80vw;
  }

  .halfImage {
    height: auto;
  }

  section .searchDivWrap .featureDiv .featureBox,
  section .searchDivWrap .featureDiv .featureBox .featureTitle,
  section .searchDivWrap .featureDiv .featureBox .featurePara {
    width: 90%;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .featureDiv .featureBox::before {
    top: 100px;
    left: -10%;
    width: 70px;
    height: 70px;
  }

  section .searchDivWrap .featureDiv .bookDiv .bookBtn {
    width: 80vw;
    transform: translateX(30px);
  }

  .hrDiv {
    width: 80vw;
    margin-left: auto;
  }

  section .searchDivWrap .serviceDiv {
    width: 80vw;
  }

  section .searchDivWrap .serviceDiv .row,
  section .searchDivWrap .serviceDiv .row .col {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    margin-bottom: 5px;
    padding: 15px 10px;
    width: 80vw;
  }

  section .searchDivWrap .serviceDiv .row .col h3 {
    font-size: 15px;
  }

  section .searchDivWrap .blueDiv .contactBox,
  section .searchDivWrap .blueDiv .contactBox form div input,
  section .searchDivWrap .blueDiv .contactBox form div button,
  section .searchDivWrap .blueDiv .footerBox {
    width: 75%;
  }

  section .searchDivWrap .blueDiv .contactBox form div button {
    margin: auto;
    transform: translateX(1%);
  }

  section .searchDivWrap .blueDiv .footerBox .footerRow .firstRow {
    padding: 0;
    width: 100%;
  }

  section .searchDivWrap .blueDiv .footerBox .footerRow .secondRow {
    flex-direction: column;
    margin: auto;
    padding: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  section .searchDivWrap .blueDiv .footerBox .footerRow .secondRow .right {
    transform: translateX(10%);
    margin-bottom: 0;
    padding-bottom: 0;
  }

  section .searchDivWrap .blueDiv {
    width: 100vw;
    margin-bottom: 0;
    padding-bottom: 0;
  }

}
